# Python virtual environment
venv/

# DBT-specific directories
target/
dbt_packages/
logs/

# Python cache files
__pycache__/
*.pyc
*.pyo
*.pyd

# Jupyter Notebook
.ipynb_checkpoints

# Environment variables
.env

# OS-specific files
.DS_Store
Thumbs.db

# Editor-specific files
.vscode/
.idea/

# Python distribution / packaging
*.egg-info/
dist/
build/

# Temporary files
*.tmp
*.bak
*.swp

# Data files (if you don't want to version control them)
*.csv
*.xlsx
*.parquet

.sqlfluff
.user.yml

# Specific to your project
output/
data/
analysis/